#database

SQL_HOST=192.168.40.5
SQL_PORT=1433
SQL_USERNAME=sa
SQL_PASSWORD=google.2021
SQL_DATABASE=macon

#baseURL

BASE_URL=http://localhost:6800

#prt

PORT=6800

#jwSecretKey
JWT_SECRET=eyJrZXlTZWNyZXQiOiJGb2xoYWRlUm9zdG9CYW5jb1NvbCJ9